@import 'reset.css';




@font-face {
    font-family: 'Shrikhand-Regular';
    src: url(./Font/Shrikhand-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Roboto Bold';
    src: url(./Font/Roboto-Black.ttf) format('truetype');

}

@font-face {
    font-family: 'Roboto Regular';
    src: url(./Font/Roboto-Regular.ttf) format('truetype');

}



@font-face {
    font-family: 'Roboto Light';
    src: url(./Font/Roboto-Light.ttf) format('truetype');

}

body {
    animation: noscroll 0s 2.5s forwards;
    overflow: hidden;
}

/* Générales */


.site{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    font-family: 'Roboto Light';

}





.loader {
   
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: disappear 0.3s 2.2s forwards,  zindex 0s 2.5s forwards;
    
    
}

.lettre {
    color: blue;
    font-size: 40px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash {
    0% {
        color: #9356DC;
        text-shadow: 0 0 7px #9356DC;
        overflow-y: hidden;
    }

    90% {
        color: #EA72DB;
        text-shadow: none;
    }

    100% {
        color: #9356DC;
        text-shadow: 0 0 7px yellow;
    }
}




@keyframes noscroll{
  



    100%{
        overflow: unset;
    }
}



.lettre:nth-child(1) {
    animation-delay: 0.1s;
}

.lettre:nth-child(2) {
    animation-delay: 0.2s;

}

.lettre:nth-child(3) {
    animation-delay: 0.3s;

}

.lettre:nth-child(4) {
    animation-delay: 0.4s;

}

.lettre:nth-child(5) {
    animation-delay: 0.5s;

}

.lettre:nth-child(6) {
    animation-delay: 0.6s;

}

.lettre:nth-child(7) {
    animation-delay: 0.7s;

}

.lettre:nth-child(8) {
    animation-delay: 0.8s;

}

.lettre:nth-child(9) {
    animation-delay: 0.9s;

}

.lettre:nth-child(10) {
    animation-delay: 1s;
}

@keyframes disappear {
   
    100%{ 
        opacity: 0;
        
        
    }
}
@keyframes zindex {
    100%{
        z-index: -1;
    }
}

















































/* Utilitaires */

.flex{
    display: flex;
}

.section_title{
    font-family: 'Roboto Bold';
    font-size: 18px;
    padding-top: 38px;

    margin-bottom: 20px;
}

.Circle_icon{
    border-radius: 100px;
    background-color: #9356DC;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 5px 0 0 0;
    font-size: 8px;  
    margin-left: -4px; 
    
}

.marge{
    margin-left: 10px;
}












/* Point par point */

/* Logo */


.header_logo{
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loc_log{
    width: 27px;
    height: 22px;
    font-size: 14px;

}

/* Barre de Recherche */


.search{
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    border-top: #cecece solid 2px;
    height: 50px;
   
}



.formtext{
    background-color:#EAEAEA;
    border: none;
    font-family: 'Roboto Bold';
    width: 35%;
    font-size: 11px;
}




/* Titre H1 */

.major_title{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Roboto Bold';
    margin-top: 30px;
}



/* Texte descriptif publicitaire */

.description{
    font-family: 'Roboto Light';
    text-align: center;
    font-size: 12px;
    padding: 0 30px 0 30px;
    margin-bottom: 20px;
}

/* Lien Explorer nos restaurants */

.Explore{
    
    background-image: linear-gradient(to top left, #9356DC 58%, #EA72DB );
    box-shadow: 5px 5px 5px 0px #9356DC;
    color: white;
    font-family: 'Roboto Regular';
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 53%;
    padding: 10px 0 10px 0;
    border-radius: 21px;
    font-size: 11px;
    text-decoration: none;

}

.Explore:hover{
filter: brightness(1.15);
box-shadow: 5px 5px 20px#9356DC;
}

.advertising{
    flex-direction: column;
    justify-content: space-between;
    background-color: #F7F7F7;
    min-height: 200px;
    
}

/* Partie fonctionnement */



.stage_flex1{
    background-color: #F7F7F7;
    border-radius: 25px;
    height: 50px;
    justify-content: space-between;
    width: 85%;
    padding: 0 41px 0 28px;
    align-items: center;
    margin-top: 15px;
    font-family: 'Roboto Bold';
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 4px 2px #eaeaea;
 


}

.functionning_icon1, .functionning_icon2, .functionning_icon3{

    margin-left: -37px;
    right: 1px;
}





.stage_flex1:hover{
    background-color:#f5EDFF ;

}

.stage_flex1:hover .decoration {
    color: #9356DC;

}

/* Partie Carte des Restaurant */

.restaurant_part{
    background-color: #F7F7F7 ;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;

}

.restaurant_list{
    flex-direction: column;
    gap: 13px;
}

.restaurant_identity{
    
    position: relative;
    
       
}

.list_head, .list_foot{
    flex-direction: column;
    gap: 20px;
}

.new{
    background-color: #99E2D0;
    font-size: 10px;
    width: 22%;
    min-width: 60px;
    max-width: 100px;
    text-align: center;
    padding: 4px 0 4px 0;
    font-family: 'Roboto Bold';
    color: #008766;
    position: absolute;
    top: 7px;
    right: 8px;
    border-radius: 3px;
}



.link_card{
    text-decoration: none;
    font-family: 'Roboto bold';
    font-size: 13px;
    color: black;
   
}



.town_restaurant{
    font-size: 12px;
    padding-top: 4px;
}





.picture{
    width: 100%;
    min-width: 100px;
    height:150px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;

}

.heart{
    color: #9356DC;
    position: absolute;
    right: 12px;
    top: 171px;
}

.heart:hover{
    background-color: #9356DC;
}

.container{
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 10px 0 10px 10px;
}



/* FOOTER */

footer{
    background-color:#353535 ;
    color: white;
    padding-top: 12px;
   padding-left: 15px;
   line-height: 20px;

}

.footer_logo{
    width: 68px;
    filter: invert();

}


.foot_link, .foot_link2{
    color: white;
    text-decoration: none;
    font-size: 11px;
  
}

.link_with_logo{
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


.log_link{
    font-size: 8px;
    padding-right: 10px;
    padding-top: 5px;
}


.foot_link2{
    display: block;
}

.footer_links{
    margin-top: 15px;
    padding-bottom: 15px;
}














@media screen and (max-width: 247px){

    .lettre {
            color: blue;
            font-size: 10px;
            letter-spacing: 3px;
            margin-bottom: 150px;
            animation: flash 1.2s linear infinite;
        }

    .header_logo {
            width: 100px;
        }
    
        .formtext {
            font-size: 10px;
            width: 70%;
        }
    
        .major_title {
            font-size: 16px;
        }
    
        .description {
            font-size: 9px;
        }
    
        .Explore {
            max-width: 200px;
            font-size: 8px;
        }
    
        .functioning_title,
        .restaurant_title {
            font-size: 15px;
        }
    
        .functioning-stage {
            font-size: 10px;
        }
    
    
    
    
        .icon_fa {
            font-size: large;
        }
    
        .picture {
            height: 101px;
        }
    
        .stage_flex1 {
            background-color: #F7F7F7;
            border-radius: 25px;
            height: 50px;
            justify-content: space-between;
            width: 85%;
            max-width: 400px;
            /* padding: 0 41px 0 28px; */
            align-items: center;
            margin-top: 15px;
            font-family: 'Roboto Bold';
            font-size: 12px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 2px 4px 2px #eaeaea;
            gap: 20px;
    
        }
    
        .heart {
            top: 128px;
            right: 8px;
        }
    
        .link_card {
            font-size: 11px;
        }
    
        .town_restaurant {
            font-size: 9px;
        }
    
        /* FOOTER */
    
        .footer_logo {
            width: 80px;
        }
    
        .foot_link,
        .foot_link2 {
            font-size: 8px;
        }
}



@media screen and (min-width: 248px){
    .lettre {
            color: blue;
            font-size: 12px;
            letter-spacing: 3px;
            margin-bottom: 150px;
            animation: flash 1.2s linear infinite;
        }
}





@media screen and (min-width: 400px){

.lettre {
        color: blue;
        font-size: 30px;
        letter-spacing: 12px;
        margin-bottom: 150px;
        animation: flash 1.2s linear infinite;
    }




.header_logo {
    width: 300px;
}

.formtext{
    font-size: 15px;
    width: 28%;
}

.major_title {
    font-size: 25px;
}
.description{
    font-size: 16px;
}

.Explore{
    max-width: 200px;
    font-size: 16px;
}

.functioning_title, .restaurant_title{
    font-size: 20px;
}

.functioning-stage{
    font-size: 16px;
}




.icon_fa{
    font-size: large;
}

.picture{
    height: 250px;
}

.stage_flex1 {
    background-color: #F7F7F7;
    border-radius: 25px;
    height: 50px;
    justify-content: space-between;
    width: 85%;
    max-width: 400px;
    /* padding: 0 41px 0 28px; */
    align-items: center;
    margin-top: 15px;
    font-family: 'Roboto Bold';
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 4px 2px #eaeaea;
    gap: 20px;

}

.heart{
    top: 269px;
    right: 12px;
}

.link_card{
    font-size: 16px;
}

.town_restaurant{
    font-size: 14px;
}

/* FOOTER */

.footer_logo{
    width: 150px;
}

.foot_link, .foot_link2{
    font-size: 14px;
}


}









@media screen and (min-width: 600px){






    .picture {
        height: 350px;
    }

    .heart {
        top: 375px;
        right: 12px;
    }
    
    .functionning_icon1,
    .functionning_icon2,
    .functionning_icon3 {
        font-size: 10px;
        
    }

    .formtext{
        width: 19%;
    }

    .functioning_title,
    .restaurant_title {
        font-size: 23px;
    }

    .link_card{
        font-size: 18px;
    }

    .town_restaurant{
        font-size: 16px;
    }

}


@media screen and (min-width: 700px){
    footer {
            background-color: #353535;
            color: white;
            padding-top: 12px;
            padding-left: 15px;
            line-height: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
    
        }
}







@media screen and (min-width: 900px) {




    .heart {
        top: 472px;
        right: 12px;
    }

    .process{
        display: flex;
     
    }

    .stage_flex1{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        
    }

    .picture {
        height: 450px;
       ;
    }

    .process{
        justify-content: space-around;
    }

    .restaurant_identity{
        width: 100%;
        
    }


    .restaurant_list{
      gap: 20px;
      flex-direction: column;
      
        
       
    }

    .list_head{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }


    .list_foot{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }




    .functionning_icon1,
    .functionning_icon2,
    .functionning_icon3 {
        font-size: 10px;
      
        top: 32px;
        left: -5px;
    }

    .formtext {
        width: 12%;
    }


}
